<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(person, index) of people">{{index + 1}}: {{ person }}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="(person, index) of peopleObjects">{{index + 1}}: {{ person.name }} {{ person.age }}</li>
        </ul>
        <hr>
        <ol>
            <li v-for="num of 4">{{ num }}</li>
        </ol>
        <hr>
        <ul>
            <li v-for="(value, key, index) in man"><em>{{ index + 1 }}</em> {{ key }} {{ value }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                people: [
                    'Max',
                    'Elena',
                    'Victoria',
                    'Vera'
                ],
                peopleObjects: [
                    { name: 'Max', age: 20 },
                    { name: 'Elena', age: 25 },
                    { name: 'Victoria', age: 30 }
                ],
                man: {
                    name: 'Max',
                    age: 50,
                    job: 'Frontend'
                }
            }
        });
    </script>
</body>
</html>