<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>
    <div id="app">
        <h2 v-if="type === 'a'">A</h2>
        <h2 v-else-if="type === 'b'">B</h2>
        <h2 v-else-if="type === 'c'">C</h2>
        <h2 v-else>not match</h2>

        <hr>

        <input type="text" v-model="type">

        <template v-if="isVisible">
            <h2>I am title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, facilis.</p>
        </template>
        <template v-else>
            <h2 style="color: red">I am title</h2>
            <p style="color: red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, facilis.</p>
        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                type: 'a',
                isVisible: false
            }
        });
    </script>
</body>
</html>